html,body
{
    width: 980px; 
    height: 1500px;
    margin: auto; 
}

.menu ul li{
    list-style: none;
    display: inline;
    font-family: Arial;
    font-size: 12px;
    padding: 20px;
}

.menu ul{
    background-color: #1b8e99;
    height: 45px;
    width: 940px;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #92c9ce;
    padding: 10px;
}

.banner{
    display: flex;
    justify-content: center;
}

.menu2{
    height: 45px;
    width: 980px;
    margin: auto;
    background-color: #660000;
    position: relative; top: -16px;
}

.menu2 ul li{
    list-style: none;
    display: inline;
    font-family: Arial;
    font-size: 12px;
    height: 45px;
    padding: 20px;
}

.menu2 ul li a:hover{
    background-color: white;
    color: #660000;
    padding: 10px;
}

.logo{
    position: relative; top: 120px;
    position: relative; left: 68%;
}

body{
    margin-top: 0px;
}

h2{
    font-family: arial;
    margin-top: 100px;
    margin-left: 0px;
    color: #660000;
    font-size: 18px;
}

hr{
    height: 3px;
    color: #660000;
    background-color: #660000;
    border: none;
    margin-left: 0px;
}

.cards{
    display: flex;
    height: 376px;
    justify-content: center;
    font-family: tahoma;
    font-size: 16px;
}

.card1{
    border: 2px solid #1b8e99;
    width: 300px;
    height: 295px;
    margin: auto;
}

.card1 p {
    position: relative; top: -30px;
    color: #1b8e99;
}

.card2 p {
    position: relative; top: -30px;
    color: #660000;
}

.card3 p {
    position: relative; top: -30px;
    color: #1b8e99;
}

.card3{
    border: 2px solid #1b8e99;
    width: 300px;
    height: 295px;
    margin: auto;
}

.card2{
    border: 2px solid #660000;
    width: 300px;
    height: 295px;
    margin: auto;
    
}

.card1 h4 {
    margin-left: 100px;
    color: #1b8e99;
}

.card2 h4{
    margin-left: 30px;
    color: #660000;
}

.card3 h4{
    margin-left: 100px;
    color: #1b8e99;
}

.preco{
    background-color: #1b8e99;
    position: relative; top: -40px;
    height: 96px;
    position: relative; left: -2px;
    width: 304px;
}

.preco p{
    color: white;
    margin-left: 25px;
}

.preco2{
    height: 96px;
    background-color: #660000;
    position: relative; top: -40px;
    position: relative; left: -2px;
    width: 304px;
}

.preco2 p{
    color: white;
    position: relative; top: 0px;
    margin-left: 25px;
}

.valor{
    position: relative; top: -20px;
    font-size: 30px;
}

.parcela {
    position: relative; top: -40px;
    font-size: 14px;
}

.comprar {
    position: relative; top: -100px;
    position: relative; left: 200px;
    background-color: white;
    margin-left: 40px;
    border-radius: 4px;
}

.valor2 {
    position: relative; top: -50px;
    font-size: 30px;
}

.parcela2 {
    position: relative; top: -70px;
    font-size: 14px;
}

.valor3{
    position: relative; top: -20px;
    font-size: 30px;
}

.parcela3{
    position: relative; top: -40px;
    font-size: 14px;
}

.descricao {
    margin-left: 7px;
    text-align: justify;
    font-size: 13px;
}

.droneloja{
    margin-left: 800px;
    margin-top: -50px
}

.hrbaixo{
    height: 8px;
    color: #444444;
    background-color: #444444;
    border: none;
    margin-top: 5%;
    margin-right: 22%;
    position: relative; right: -140px;
}

.servicos h2{
    font-family: arial;
    font-size: 18px;
    color: #1c8e99;
    position: relative; top: 10px;
}

.servicos p{
    font-weight: bolder;
    color: #1c8e99;
    margin-left: 10%;
}

.droneloja2{
    margin-left: 800px;
    margin-top: -50px;
}

.cardservicos{
    display: flex;
    height: 376px;
}

.cardservicos1{
    width: 300px;
    height: 320px;
    margin-right: 15px;
    
    font-family: tahoma;
    border-top: 2px solid #660000;
    border-left: 2px solid #660000;
    border-bottom: 5px solid #660000;
    border-right: 2px solid #660000;
}

.cardservicos1 h6{
    font-size: 17px;
    color: #660000;
    position: relative; top: -35px;
    position: relative; left: 3px;
}

.cardservicos1 p{
    position: relative; top: -45px;
    color: #660000;
    font-size: 13px;
    position: relative; left: 3px;
}

.cardservicos2{
    width: 300px;
    height: 320px;
    margin-right: 15px;
    font-family: tahoma;
    border-top: 2px solid #1b8e99;
    border-left: 2px solid #1b8e99;
    border-bottom: 5px solid #1b8e99;
    border-right: 2px solid #1b8e99;
}

.cardservicos2 p{
    position: relative; top: -45px;
    color: #1b8e99;
    font-size: 13px;
    position: relative; left: 3px;
}

.cardservicos2 h6{
    font-size: 17px;
    color: #1b8e99;
    position: relative; top: -35px;
    position: relative; left: 3px;
}

.cardservicos3{
    border-top: 2px solid #660000;
    border-left: 2px solid #660000;
    border-bottom: 5px solid #660000;
    border-right: 2px solid #660000;
    width: 300px;
    height: 320px;
    margin-right: 15px;
    font-family: tahoma;
}

.cardservicos3 h6{
    font-size: 17px;
    color: #660000;
    position: relative; top: -35px;
    position: relative; left: 3px;
}

.cardservicos3 p{
    position: relative; top: -45px;
    color: #660000;
    font-size: 13px;
    position: relative; left: 3px;
}

.btn{
    border-radius: 6px;
}


.droninhos{
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 17%;
}

.logofim{
    padding-top: 34px;
    background-color: #1b8e99;
    width: 980px;
    margin: auto;
}

.logofim p{
    position: relative; right: -170px;
    position: relative; top: -40px;
    font-family: tahoma;
    color: white;
    font-size: 14px;
}

.end hr{
    margin: auto;
    width: 980px;
    position: relative; top: -30px;
    height: 26px;
}

hr{
    margin-left: 0px;
    width: 80%;
}

body{
    margin-top: 0%;
}

.end p{
    margin-left: 80%;
    position: relative; top: -65px;
    font-family: tahoma;
    color: white;
    font-size: 14px;
}

.end img{
    position: relative; right: -83%;
    position: relative; top: -280px;
}

.servicos hr{
    color: #1c8e99;
    background-color: #1c8e99;
    margin-left: 0px;
    width: 80%;
}